<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is a flask app 
    <form action="/sub" method="POST">
        <input type="text" name="mdvp_fo" id="mdvp_fo">
        <input type="text" name="mdvp_Fhi" id="mdvp_Fhi">
        <input type="text" name="mdvp_Flo" id="mdvp_Flo">
        <input type="text" name="mdvp_jitter" id="mdvp_jitter">
        <input type="text" name="mdvp_jabs" id="mdvp_jabs">
        <input type="text" name="mdvp_RAP" id="mdvp_RAP">
        <input type="text" name="mdvp_PPQ" id="mdvp_PPQ">
        <input type="text" name="jitter_DDP" id="jitter_DDP">
        <input type="text" name="mdvp_shimmer" id="mdvp_shimmer">
        <input type="text" name="mdvp_shimmerdb" id="mdvp_shimmerdb">
        <input type="text" name="shimmer_apq3" id="shimmer_apq3">
        <input type="text" name="shimmer_apq5" id="shimmer_apq5">
        <input type="text" name="mdvp_apq" id="mdvp_apq">
        <input type="text" name="shimmer_DDA" id="shimmer_DDA">
        <input type="text" name="nhr" id="nhr">
        <input type="text" name="hnr" id="hnr">
        <input type="text" name="rpde" id="rpde">
        <input type="text" name="dfa" id="dfa">
        <input type="text" name="spread1" id="spread1">
        <input type="text" name="spread2" id="spread2">
        <input type="text" name="d2" id="d2">
        <input type="text" name="ppe" id="ppe">
        <input type="submit" value="Submit">
    </form>
</body>
</html>